trigger: none

pool: mera-agent-pool

jobs:
- job: terraforminit
  displayName: Pipeline run . . . 
  steps:
  - task: PowerShell@2
    displayName: Terraform Init
    inputs:
      targetType: 'inline'
      script: |
        echo "Working directory check"
