trigger:
  branches:
    include:
      - main 
      - feature/*

pool: mera-agent-pool

jobs:
- job: terraforminitial
  displayName: Terrform basic commands
  steps:
  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
      backendServiceArm: 'new-service'
      backendAzureRmStorageAccountName: 'stglactab'
      backendAzureRmContainerName: 'cntrlab'
      backendAzureRmKey: 'basic.tfstate'

  - task: TerraformTask@5
    displayName: Terraform Validate
    inputs:
      provider: 'azurerm'
      command: 'validate'
      workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
  
  - task: TerraformTask@5
    displayName: Terraform Plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
      environmentServiceNameAzureRM: 'new-service'



- job: Scanning
  displayName: Scanning Job
  dependsOn: terraforminitial
  condition: succeededOrFailed()
  steps:
  - task: tfsec@1
    displayName: Scanning the code
    inputs:
      version: 'v1.26.0'
      debug: true
      dir: '$(System.DefaultWorkingDirectory)'
    continueOnError: true                         # <-- lets step run without stopping job

  
  # Install TFLint
    condition: succeededOrFailed()
  - script: |
      curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
    displayName: Install TFLint

  # Initialize TFLint (plugin download)
  - script: |
      tflint --init
    displayName: Init TFLint

  # Run TFLint Scan
  - script: |
      tflint $(System.DefaultWorkingDirectory)
    displayName: Run TFLint
    continueOnError: true


- job: validation
  dependsOn: Scanning
  displayName: Manual Validation
  pool: server
  steps:
  - task: ManualValidation@1
    displayName: Requesting approver
    inputs:
      notifyUsers: 'devopstudent08@gmail.com'
      approvers: 'devopstudent08@gmail.com'
      instructions: 'Kindly approve the pipeline'


- job: Terraformapply
  dependsOn: validation
  steps:
  - task: TerraformTask@5
    displayName: Terraform Init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
      backendServiceArm: 'new-service'
      backendAzureRmStorageAccountName: 'stglactab'
      backendAzureRmContainerName: 'cntrlab'
      backendAzureRmKey: 'basic.tfstate'

  - task: TerraformTask@5
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
    displayName: Terraform Apply
    inputs:
      provider: 'azurerm'
      command: 'apply'
      workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
      environmentServiceNameAzureRM: 'new-service'
